
  <section class="content-header">
    <section class="content">
    <!-- content starts here -->

    <div class="form-group row">
      <div class="col-sm-1" style="font-size: 30px;">Customer</div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3"></label>
    </div>

  <div class="CusList" id="CusList">  
    <div class="form-group row">
      <div class="col-sm-1" style="font-size: 18px">Search by</div>
      
    
      <div class="col-md-9">
        <div class="form-group row">
          <label class="col-sm-1" style="padding-top: 6px;">#ID</label>
          <div class="col-sm-2">
            <input class="form-control" type="text" placeholder="#ID">
          </div>
          <label class="col-sm-1" style="padding-top: 6px;">Name</label>
          <div class="col-sm-3">
            <input class="form-control" type="text" placeholder="Name">
          </div>
          <label class="col-sm-1" style="padding-top: 6px;">Phone</label>
          <div class="col-sm-3">
            <input class="form-control" type="text" placeholder="Phone">
          </div>
          <button type="button" class=" col-xs-1 btn btn-success">Search</button>
        </div>
      </div>       
    </div>
    
    <table class="table table-bordered table-striped mb-0">
      <thead>
        <tr>
          <th scope="col" width = "13%">#ID</th>
          <th scope="col" width = "13%">Type</th>
          <th scope="col">Name</th>
          <th scope="col" width = 20%>Address</th>
          <th scope="col" width="14%">Policy No</th>
          <th scope="col" width="11%">Contact</th>
          <th scope="col" width="11%" >Edit / Delete</th>
        </tr>
        </thead>
      </table>

<div class="table-wrapper-scroll-y my-custom-scrollbar text-left">

<table class="table table-bordered table-striped mb-0">
<thead> 
  <tr>
    <td width="13%">1</td>
    <td width="13%">credit</td>
    <td width = "19%">Saifu</td>
    <td width = "20%">8686868686</td>
    <td width = "10%">448786716</td>
    <td width="10%">989898989898745</td>
    <td width = "10%">
      <div class="btns">
      <button type="button" class="btn btn-success">E</button>&nbsp;
      <button type="button" class="btn btn-danger">X</button>
      </div>
    </td>
  </tr>
  <tr>
    <td width="13%">1</td>
    <td width="13%">credit</td>
    <td width = "19%">Saifu</td>
    <td width = "20%">8686868686</td>
    <td width = "10%">448786716</td>
    <td width="10%">989898989898745</td>
    <td width = "10%">
      <div class="btns">
      <button type="button" class="btn btn-success">E</button>&nbsp;
      <button type="button" class="btn btn-danger">X</button>
      </div>
    </td>
  </tr>
  <tr>
    <td width="13%">1</td>
    <td width="13%">credit</td>
    <td width = "19%">Saifu</td>
    <td width = "20%">8686868686</td>
    <td width = "10%">448786716</td>
    <td width="10%">989898989898745</td>
    <td width = "10%">
      <div class="btns">
      <button type="button" class="btn btn-success">E</button>&nbsp;
      <button type="button" class="btn btn-danger">X</button>
      </div>
    </td>
  </tr>
  <tr>
    <td width="13%">1</td>
    <td width="13%">credit</td>
    <td width = "19%">Saifu</td>
    <td width = "20%">8686868686</td>
    <td width = "10%">448786716</td>
    <td width="10%">989898989898745</td>
    <td width = "10%">
      <div class="btns">
      <button type="button" class="btn btn-success">E</button>&nbsp;
      <button type="button" class="btn btn-danger">X</button>
      </div>
    </td>
  </tr>
  <tr>
    <td width="13%">1</td>
    <td width="13%">credit</td>
    <td width = "19%">Saifu</td>
    <td width = "20%">8686868686</td>
    <td width = "10%">448786716</td>
    <td width="10%">989898989898745</td>
    <td width = "10%">
      <div class="btns">
      <button type="button" class="btn btn-success">E</button>&nbsp;
      <button type="button" class="btn btn-danger">X</button>
      </div>
    </td>
  </tr>
  <tr>
    <td width="13%">1</td>
    <td width="13%">credit</td>
    <td width = "19%">Saifu</td>
    <td width = "20%">8686868686</td>
    <td width = "10%">448786716</td>
    <td width="10%">989898989898745</td>
    <td width = "10%">
      <div class="btns">
      <button type="button" class="btn btn-success">E</button>&nbsp;
      <button type="button" class="btn btn-danger">X</button>
      </div>
    </td>
  </tr>
  <tr>
    <td width="13%">1</td>
    <td width="13%">credit</td>
    <td width = "19%">Saifu</td>
    <td width = "20%">8686868686</td>
    <td width = "10%">448786716</td>
    <td width="10%">989898989898745</td>
    <td width = "10%">
      <div class="btns">
      <button type="button" class="btn btn-success">E</button>&nbsp;
      <button type="button" class="btn btn-danger">X</button>
      </div>
    </td>
  </tr>
</thead>




</table>

</div>
<br>
<div class="form-group row">
<div class="text-right" style="padding-right: 20px;">
  <button class="btn btn-primary" (click)='Cusadd()'>Add New</button>
</div>
</div>

</div>

<div class="CusAdd" id="CusAdd">
<form class="form-group row">

  <div class="col-md-9">
    <div class="form-group row">
      <label class="col-sm-1" style="padding-top: 6px;">#ID</label>
      <div class="col-sm-3">
        <input class="form-control" type="text" placeholder="#ID" disabled>
      </div>
      <div class="col-sm-2">
        <input type="checkbox" style="padding-top:10px;">
        <label>Inactive</label>
      </div>
    </div>
  </div> 

  <div class="col-md-9">
    <div class="form-group row">
      <label class="col-sm-1" style="padding-top: 6px;">Name</label>
      <div class="col-sm-3">
        <input class="form-control" type="text" placeholder="Name">
      </div>
      <label class="col-sm-1" style="padding-top: 6px;">Telephone</label>
      <div class="col-sm-3">
        <input class="form-control" type="text" placeholder="Telephone">
      </div>
      <label class="col-sm-1" style="padding-top: 6px;">Mail</label>
      <div class="col-sm-3">
        <input class="form-control" type="text" placeholder="Mail">
      </div>
    </div>
  </div> 

  <div class="col-md-9">
    <div class="form-group row">
      <label class="col-sm-1" style="padding-top: 6px;">Address</label>
      <div class="col-sm-3">
        <textarea class="form-control" placeholder="Address" rows="4" placeholder="Address" style="resize: none;"></textarea>
      </div>
      <label class="col-sm-1" style="padding-top: 6px;">State</label>
      <div class="col-sm-3">
        <input class="form-control" type="text" placeholder="State">
      </div>
      <label class="col-sm-1" style="padding-top: 6px;">City</label>
      <div class="col-sm-3">
        <input class="form-control" type="text" placeholder="City">
      </div><br>
          <div style="padding-top: 20px;">
            <label class="col-sm-1" style="padding-top: 6px;">PO Box</label>
            <div class="col-sm-3">
              <input class="form-control" type="text" placeholder="PO Box">
            </div>
              <label class="col-sm-1" style="padding-top: 6px;">Zip</label>
              <div class="col-sm-3">
                <input class="form-control" type="text" placeholder="Zip Code">
              </div>
            </div>
    </div>
  </div> 

  <hr>

  <div class="col-md-9">
    <div class="form-group row">
      <label class="col-sm-1" style="padding-top: 6px;">Type</label>
      <div class="col-sm-3">
        <select>
          <option>Cash</option>
          <option>credit</option>
        </select>
      </div>
      <label class="col-sm-1" style="padding-top: 6px;">PolicyNo</label>
      <div class="col-sm-3">
        <input class="form-control" type="text" placeholder="PolicyNo">
      </div>
      <label class="col-sm-1" style="padding-top: 6px;">Limit</label>
      <div class="col-sm-3">
        <input class="form-control" type="text" placeholder="Limit">
      </div>
    </div>
  </div> 

  <div class="col-md-9">
    <div class="form-group row">
      <label class="col-sm-1" style="padding-top: 6px;">Reg No</label>
      <div class="col-sm-3">
        <input class="form-control" type="text" placeholder="Reg No">
      </div>
      <label class="col-sm-2" style="padding-top: 6px;">Reg Date</label>
      <div class="col-sm-3">
        <input class="form-control" type="text" placeholder="Regdate">
      </div>
    </div>
  </div> 

  <div class="col-md-9">
    <div class="form-group row">
      <label class="col-sm-1" style="padding-top: 6px;">Notes</label>
      <div class="col-sm-5">
        <textarea class="form-control" placeholder="Address" rows="2" placeholder="Notes" style="resize: none;"></textarea>
      </div>
    </div>
  </div> 

  <div class="col-md-9">
    <div class="form-group row">
      <div class="col-md-3">
          <button class="col-sm-5 btn btn-primary" (click)='Cusadd()'>Add </button>
          <label class="col-sm-2"></label>
          <button class="col-sm-5 btn btn-danger" (click)="CusCancel()">Cancel</button>
    
      </div>
    </div>
  </div> 

</form>

</div>
      

    <!-- content ends here -->
    </section>
  </section>
